<div class="booking-container">
@if (isLoading) {
  <div class="loading-container-div">
  <div class="loading-container">
    <h2>Időpontfoglalás folyamatban</h2>
    <mat-spinner diameter="50"></mat-spinner>
    <p>Kérem várjon...</p>
  </div>
  </div>
}


@if(showForm){
 <form (ngSubmit)="makeBooking()" #bookingForm="ngForm" class="booking-form">
      <mat-card>
        <div class="title-div">
          <mat-card-title>Időpontfoglalás</mat-card-title>
        </div>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Pálya</mat-label>
            <mat-select [(ngModel)]="selectedLaneNumb" name="lane" required (selectionChange)="calculatePrice()">
              @for (lane of lanes; track lane.laneNumb) {
                <mat-option [value]="lane.laneNumb">#{{ lane.laneNumb }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Dátum</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="date" (dateChange)="calculatePrice()" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Kezdési óra</mat-label>
            <input matInput type="number" min="1" max="24" [(ngModel)]="selectedStartHour" name="startHour" (ngModelChange)="calculatePrice()" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Hossz (óra)</mat-label>
            <input matInput type="number" min="1" max="12" [(ngModel)]="duration" name="duration" (ngModelChange)="calculatePrice()" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Játékosok száma</mat-label>
            <input matInput type="number" min="1" max="12" [(ngModel)]="numberOfPlayers" name="players" required>
          </mat-form-field>

          @if(overlapWarning){
            <div class="error-text">Az adott időpontra már van foglalás erre a pályára!</div>
          }

          <div class="price-display">
            <strong>Becsült ár:</strong> {{ total | number:'1.0-0' }} Ft
          </div>

          <div class="center-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!bookingForm.form.valid || !valid_data">
              Foglalás
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
}

@if(showBooking){
  <mat-card align="center">
    <mat-card-title>Foglalás Részletei</mat-card-title>
    <mat-card-content>
      <p><strong>Pálya száma:</strong> {{ selectedLaneNumb }}</p>
      <p><strong>Dátum:</strong> {{ selectedDate | date:'yyyy.MM.dd' }}</p>
      <p><strong>Kezdés:</strong> {{ selectedStartHour }}:00</p>
      <p><strong>Befejezés:</strong> {{ endHour }}:00</p>
      <p><strong>Játékosok száma:</strong> {{ numberOfPlayers }}</p>
      <p><strong>Végösszeg:</strong> {{ total | number:'1.0-0' }} Ft</p>
    </mat-card-content>

    <mat-card-actions  class="centered-actions" >
      <button mat-raised-button color="primary" routerLink="/my-bookings">Rendben</button>
    </mat-card-actions>
  </mat-card>
}
</div>
