@use '../../_theme-colors.scss' as my-theme;
@use 'sass:map';


.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  text-align: center;

}

.not-found-container h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  color: map.get(my-theme.$primary-palette, 60);
}

.not-found-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.not-found-container a {
  font-size: 1rem;
  text-decoration: none;
  background-color: map.get(my-theme.$primary-palette, 60);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.not-found-container a:hover {
  background-color: map.get(my-theme.$primary-palette, 40);
}
