@if (isLoading) {
  <div class="loading-container-div">
  <div class="loading-container">
    <h2>Időpontfoglalás folyamatban</h2>
    <mat-spinner diameter="50"></mat-spinner>
    <p>Kérem várjon...</p>
  </div>
  </div>
}


@if(showForm){
<mat-card>
  <div class="title-div">
  <mat-card-title>Bowling Pálya Foglalás</mat-card-title>
  </div>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Pálya</mat-label>
      <mat-select [(value)]="selectedLaneNumb">
        @for (lane of lanes; track lane.laneNumb) {
          <mat-option [value]="lane.laneNumb">
            Pálya #{{ lane.laneNumb }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dátum</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kezdési óra</mat-label>
      <input matInput type="number" min="1" max="24" [(ngModel)]="selectedStartHour">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hossz (óra)</mat-label>
      <input matInput type="number" min="1" max="12" [(ngModel)]="duration">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Játékosok száma</mat-label>
      <input matInput type="number" min="1" max="12" [(ngModel)]="numberOfPlayers">
    </mat-form-field>

    <div class="center-button">
      <div class="button-label">
        <div class="price-display">
          <strong>Várható ár:</strong> {{ calculatedPrice | number:'1.0-0' }} Ft
        </div>
        <button mat-raised-button color="primary" (click)="makeBooking()" [disabled]="!selectedLaneNumb || !selectedDate || !valid_data">
          Foglalás
        </button>
      </div>
    </div>
  </mat-card-content>

</mat-card>
}

@if(showBooking){
  <mat-card>
    <mat-card-title>Foglalás Részletei</mat-card-title>
    <mat-card-content>
      <p><strong>Pálya száma:</strong> {{ selectedLaneNumb }}</p>
      <p><strong>Dátum:</strong> {{ selectedDate | date:'yyyy.MM.dd' }}</p>
      <p><strong>Kezdés:</strong> {{ selectedStartHour }}:00</p>
      <p><strong>Befejezés:</strong> {{ endHour }}:00</p>
      <p><strong>Játékosok száma:</strong> {{ numberOfPlayers }}</p>
      <p><strong>Végösszeg:</strong> {{ total | number:'1.0-0' }} Ft</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="/home">Rendben</button>
    </mat-card-actions>
  </mat-card>
}
