<mat-card class="profile-card">
  <mat-card-title align="center">Profil adatok</mat-card-title>
  <mat-card-content>
   @if (isLoading) {
        <div class="loading-container">
          <p>Loading profile data...</p>
        </div>
      } @else if (user) {
        <div class="profile-info">

          <div class="user-details">
            <h3 class="user-name">{{ user.name.lastname }} {{ user.name.firstname }}</h3>
            <div class="user-email">
              <span>{{ user.email }}</span>
            </div>
          </div>
        </div>
         } @else {
        <div class="empty-state">
          <mat-icon>person_off</mat-icon>
          <p>No user profile found. Please log in.</p>
        </div>
      }
  </mat-card-content>
</mat-card>
