<section class="info-section">
<mat-card>
  <div class="title-div">
    <mat-card-title>Elérhetőségek</mat-card-title>
  </div>
    <mat-card-content>


    <div class="contact-details">
      <mat-icon>location_on</mat-icon>
      <span> Szeged, Tisza Lajos krt. 103, 6725</span>
    </div>

    <div class="contact-details">
      <mat-icon>mail</mat-icon>
      <a href="mailto:info@bowling.hu">info&#64;bowling.hu</a>
    </div>

    <div class="contact-details">
      <mat-icon>phone</mat-icon>
      <a href="tel:+3612345678">+36 20 234 5678</a>
    </div>


  </mat-card-content>
</mat-card>

<mat-card>

    <div class="title-div">
      <mat-card-title><span>Nyitvatartás</span></mat-card-title>
  </div>
  <mat-card-content>
    <div class=" opening-hours contact-details">
      <span>Hétfő 10:00 - 20:00</span>
      <span>Kedd 10:00 - 20:00</span>
      <span>Szerda 10:00 - 20:00</span>
      <span>Csütörtök 10:00 - 20:00</span>
      <span>Péntek 10:00 - 22:00</span>
      <span>Szombat 10:00 - 22:00</span>
      <span>Vasárnap 10:00 - 22:00</span>
    </div>
  </mat-card-content>
</mat-card>
</section>
<mat-card class="map-card">
  <div class="title-div">
  <mat-card-title>Térkép</mat-card-title>
  </div>
  <mat-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2759.168850033667!2d20.1469232!3d46.246871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4744886557ac1407%3A0x8ef6cdceb30443a2!2sSzegedi%20Tudom%C3%A1nyegyetem%20Irinyi%20%C3%A9p%C3%BClet!5e0!3m2!1shu!2shu!4v1744401451284!5m2!1shu!2shu"
      width="100%"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </mat-card-content>
</mat-card>



