<div class="bookings-container">
  @for (booking of user.bookings; track booking.startTime) {
    <mat-card class="booking-card">
      <mat-card-content>
        <p><strong>Pálya:</strong> {{  booking.laneNumb  }}</p>
        <p><strong>Dátum:</strong> {{ booking.startTime | date:'yyyy.MM.dd' }}</p>
        <p><strong>Kezdés:</strong> {{ booking.startTime | date:'HH:mm' }}</p>
        <p><strong>Befejezés:</strong> {{ booking.endTime | date:'HH:mm' }}</p>
        <p><strong>Játékosok száma:</strong> {{ booking.numberOfPlayers }}</p>
        <p><strong>Ár:</strong> {{ booking.price | number }} Ft</p>
      </mat-card-content>
    </mat-card>
  }
</div>

